<!-- begin #sidebar -->
<div id="sidebar" class="sidebar">
    <!-- begin sidebar scrollbar -->
    <div data-scrollbar="true" data-height="100%">
        <!-- begin sidebar user -->
        <ul class="nav">
            <li class="nav-profile">
                <div class="image">
                    <a href="javascript:;"><img src="~/Content/img/user-13.jpg" alt="" /></a>
                </div>
                <div class="info">
                    Administrador
                    <small>Administrador Master</small>
                </div>
            </li>
        </ul>
        <!-- end sidebar user -->
        <!-- begin sidebar nav -->
        <ul class="nav">
            <li class="nav-header">Navegação</li>
            <li class=" ">
                <a href="/Home/Index">
                    <i class="fa fa-home"></i>
                    <span>Home</span>
                </a>
            </li>
            <li class="has-sub ">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-laptop"></i>
                    <span>Usuários</span>
                </a>
                <ul class="sub-menu">
                    <li class=""><a href="/Usuarios/Cliente">Clientes</a></li>
                    <li><a href="/Usuarios/Colaborador">Colaboradores</a></li>
                    <li><a href="/Usuarios/Login_Administrador">Administradores</a></li>
                </ul>
            </li>

            <li class="has-sub ">
                <a href="/Avaliacoes/Avaliacoes">
                    @*<b class="caret pull-right"></b>*@
                    <i class="fa fa-th-list"></i>
                    <span>Avaliações</span>
                </a>
            </li>

            <li class="has-sub ">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-laptop"></i>
                    <span>Treinamento</span>
                </a>
                <ul class="sub-menu">
                    <li><a href="/Treinamento/Treinos">Treinos</a></li>
                    <li class=""><a href="/Treinamento/Treino_Padrao">Treinamento Padrão</a></li>
                    <li><a href="/Treinamento/Listagem_Exercicios">Listagem Exercícios</a></li>
                </ul>
            </li>

           

            <!-- begin sidebar minify button -->
            <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
            <!-- end sidebar minify button -->
        </ul>
        <!-- end sidebar nav -->
    </div>
    <!-- end sidebar scrollbar -->
</div>
<div class="sidebar-bg"></div>
<!-- end #sidebar -->




